<a href="https://colab.research.google.com/github/Aswin-Kumar66/ml-practise/blob/main/binary_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files
import io

uploaded = files.upload()

KeyboardInterrupt: ignored

In [2]:
df = pd.read_csv(io.BytesIO(uploaded['train.csv']))
df.head()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [3]:
df.describe()

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000
mean,68214.000000,299.862776,309.941070,1520.331110,40.348643,104.408901,0.015744,0.001554,0.005160,0.002397,0.003958,0.002258
std,39383.804275,1.862247,1.385173,138.736632,8.502229,63.965040,0.124486,0.039389,0.071649,0.048899,0.062789,0.047461
min,0.000000,295.300000,305.800000,1181.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34107.000000,298.300000,308.700000,1432.000000,34.600000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,68214.000000,300.000000,310.000000,1493.000000,40.400000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102321.000000,301.200000,310.900000,1580.000000,46.100000,159.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,136428.000000,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.isna().sum()

id                         0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [16]:
df.shape

(136429, 14)

In [102]:
a = (df[df['Machine failure'] == 0])
b = (df[df['Machine failure'] == 1])
some_data = a.sample(2148)

In [38]:
some_data

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
25707,25707,M22560,M,300.7,311.6,1444,44.3,95,0,0,0,0,0,0
116958,116958,L55475,L,298.9,310.3,1364,46.5,189,0,0,0,0,0,0
127169,127169,H30970,H,298.4,308.5,1398,47.1,83,0,0,0,0,0,0
57285,57285,L54561,L,299.7,310.4,1595,36.2,106,0,0,0,0,0,0
65852,65852,L53768,L,301.5,310.7,1457,40.4,213,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90494,90494,L55476,L,298.9,310.3,1439,39.0,96,0,0,0,0,0,0
64146,64146,L49053,L,298.4,308.1,1631,35.7,92,0,0,0,0,0,0
97901,97901,M23620,M,297.4,308.7,1436,46.4,94,0,0,0,0,0,0
111994,111994,L50553,L,301.4,310.8,1376,54.0,23,0,0,0,0,0,0
64414,64414,L53466,L,301.2,310.9,1596,32.5,70,0,0,0,0,0,0

In [103]:
new_train = pd.concat([some_data , b] )
new_train

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
51262,51262,L48172,L,296.1,307.1,1651,35.7,16,0,0,0,0,0,0
36340,36340,L55972,L,297.4,308.5,1401,49.1,54,0,0,0,0,0,0
50039,50039,L47231,L,298.8,309.1,1473,42.1,66,0,0,0,0,0,0
91553,91553,M16714,M,297.6,307.1,1419,42.6,44,0,0,0,0,0,0
53358,53358,L52141,L,303.9,312.7,1709,29.5,158,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135902,135902,L52669,L,302.6,312.1,1638,35.0,215,1,1,0,0,0,0
135917,135917,L56200,L,297.3,308.2,1553,33.5,208,1,1,0,0,0,0
135957,135957,L55410,L,299.1,310.6,1353,49.7,74,1,0,0,0,0,0
136053,136053,H34965,H,302.4,312.0,1286,62.3,162,1,0,0,1,0,0
136266,136266,L51728,L,302.6,310.5,1329,49.7,155,1,0,1,0,0,0

In [89]:
new_train.isna().sum()

id                         0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [104]:
new_train = new_train.drop(['id' , 'Product ID'] ,axis = 1)

In [105]:
dummy = pd.get_dummies(new_train['Type'])
dummy

        H  L  M
51262   0  1  0
36340   0  1  0
50039   0  1  0
91553   0  0  1
53358   0  1  0
...    .. .. ..
135902  0  1  0
135917  0  1  0
135957  0  1  0
136053  1  0  0
136266  0  1  0

[4296 rows x 3 columns]

In [106]:
new_train = pd.concat([dummy , new_train] , axis  = 1)

new_train.isna().sum()

H                          0
L                          0
M                          0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [107]:
new_train = new_train.drop('Type' , axis = 1)

In [93]:
new_train

,H,L,M,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
25707,0,0,1,300.7,311.6,1444,44.3,95,0,0,0,0,0,0
116958,0,1,0,298.9,310.3,1364,46.5,189,0,0,0,0,0,0
127169,1,0,0,298.4,308.5,1398,47.1,83,0,0,0,0,0,0
57285,0,1,0,299.7,310.4,1595,36.2,106,0,0,0,0,0,0
65852,0,1,0,301.5,310.7,1457,40.4,213,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135902,0,1,0,302.6,312.1,1638,35.0,215,1,1,0,0,0,0
135917,0,1,0,297.3,308.2,1553,33.5,208,1,1,0,0,0,0
135957,0,1,0,299.1,310.6,1353,49.7,74,1,0,0,0,0,0
136053,1,0,0,302.4,312.0,1286,62.3,162,1,0,0,1,0,0
136266,0,1,0,302.6,310.5,1329,49.7,155,1,0,1,0,0,0

In [95]:
new_train.dtypes

H                            uint8
L                            uint8
M                            uint8
Air temperature [K]        float64
Process temperature [K]    float64
Rotational speed [rpm]       int64
Torque [Nm]                float64
Tool wear [min]              int64
Machine failure              int64
TWF                          int64
HDF                          int64
PWF                          int64
OSF                          int64
RNF                          int64
dtype: object

In [108]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
new_train['Air temperature [K]'] = scaler.fit_transform(new_train[['Air temperature [K]']])
new_train['Process temperature [K]'] = scaler.fit_transform(new_train[['Process temperature [K]']])
new_train['Rotational speed [rpm]'] = scaler.fit_transform(new_train[['Rotational speed [rpm]']])
new_train['Torque [Nm]'] = scaler.fit_transform(new_train[['Torque [Nm]']])
new_train['Tool wear [min]'] = scaler.fit_transform(new_train[['Tool wear [min]']])
new_train

,H,L,M,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
51262,0,1,0,0.087912,0.166667,0.275660,0.438187,0.063241,0,0,0,0,0,0
36340,0,1,0,0.230769,0.346154,0.129032,0.622253,0.213439,0,0,0,0,0,0
50039,0,1,0,0.384615,0.423077,0.171261,0.526099,0.260870,0,0,0,0,0,0
91553,0,0,1,0.252747,0.166667,0.139589,0.532967,0.173913,0,0,0,0,0,0
53358,0,1,0,0.945055,0.884615,0.309677,0.353022,0.624506,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135902,0,1,0,0.802198,0.807692,0.268035,0.428571,0.849802,1,1,0,0,0,0
135917,0,1,0,0.219780,0.307692,0.218182,0.407967,0.822134,1,1,0,0,0,0
135957,0,1,0,0.417582,0.615385,0.100880,0.630495,0.292490,1,0,0,0,0,0
136053,1,0,0,0.780220,0.794872,0.061584,0.803571,0.640316,1,0,0,1,0,0
136266,0,1,0,0.802198,0.602564,0.086804,0.630495,0.612648,1,0,1,0,0,0

In [109]:
new_train = new_train.sample(frac =1 )
print(new_train.shape)
new_train

(4296, 14)

,H,L,M,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
45920,0,0,1,0.186813,0.320513,0.198240,0.497253,0.521739,0,0,0,0,0,0
126169,0,1,0,0.659341,0.615385,0.187683,0.686813,0.355731,0,0,0,0,0,0
51227,0,1,0,0.791209,0.589744,0.083284,0.704670,0.695652,1,0,1,0,0,0
127745,1,0,0,0.340659,0.461538,0.184751,0.458791,0.201581,0,0,0,0,0,0
99713,0,1,0,0.626374,0.589744,0.158944,0.516484,0.490119,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32649,0,0,1,0.230769,0.371795,0.104985,0.637363,0.901186,1,1,0,0,0,0
79249,0,1,0,0.736264,0.666667,0.129619,0.387363,0.766798,0,0,0,0,0,0
123866,0,1,0,0.208791,0.346154,0.347801,0.317308,0.743083,0,0,0,0,0,0
366,0,1,0,0.538462,0.576923,0.195308,0.570055,0.189723,0,0,0,0,0,0
125076,1,0,0,0.681319,0.551282,0.259238,0.391484,0.154150,0,0,0,0,0,0

In [110]:
x = new_train.drop('Machine failure' , axis = 1)
y = new_train['Machine failure']
y

45920     0
126169    0
51227     1
127745    0
99713     0
         ..
32649     1
79249     0
123866    0
366       0
125076    0
Name: Machine failure, Length: 4296, dtype: int64

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import XGBoost

log = LogisticRegression()
dec = DecisionTreeClassifier()
svm = SVC()
rf = RandomForestClassifier(n_estimators= 50)
# xgb = XGBoost()

models = [log , dec , svm , rf ]

for model in models :
  model.fit(x,y)
  print(model , ':' , model.score(x,y))

LogisticRegression() : 0.8917597765363129
DecisionTreeClassifier() : 1.0
SVC() : 0.8912942271880819
RandomForestClassifier(n_estimators=50) : 0.9988361266294227

In [112]:
uploaded1 = files.upload()

Saving test.csv to test.csv

In [133]:
test = pd.read_csv(io.BytesIO(uploaded1['test.csv']))
test.head()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,136429,L50896,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,136430,L53866,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,136431,L50498,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,136432,M21232,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,136433,M19751,M,303.4,312.3,1515,41.3,114,0,0,0,0,0

In [124]:
ids = test['id']

In [134]:
# ids = test['id']
test = test.drop(['id' , 'Product ID'] , axis = 1)
dum = pd.get_dummies(test['Type'])
dum
# pd.concat([test , dum])
# test

       H  L  M
0      0  1  0
1      0  1  0
2      0  1  0
3      0  0  1
4      0  0  1
...   .. .. ..
90949  0  1  0
90950  0  1  0
90951  0  1  0
90952  0  1  0
90953  0  1  0

[90954 rows x 3 columns]

In [135]:
test = pd.concat([dum , test] , axis = 1)
test

,H,L,M,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,0,1,0,L,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,0,1,0,L,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,0,1,0,L,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,0,0,1,M,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,0,0,1,M,303.4,312.3,1515,41.3,114,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,0,1,0,L,302.3,311.4,1484,40.4,15,0,0,0,0,0
90950,0,1,0,L,297.9,309.8,1542,33.8,31,0,0,0,0,0
90951,0,1,0,L,295.6,306.2,1501,41.4,187,0,0,0,0,0
90952,0,1,0,L,298.1,307.8,1534,40.3,69,0,0,0,0,0
90953,0,1,0,L,303.5,312.8,1534,36.1,92,0,0,0,0,0

In [136]:
test = test.drop('Type' , axis = 1)
test

,H,L,M,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,0,1,0,302.3,311.5,1499,38.0,60,0,0,0,0,0
1,0,1,0,301.7,311.0,1713,28.8,17,0,0,0,0,0
2,0,1,0,301.3,310.4,1525,37.7,96,0,0,0,0,0
3,0,0,1,300.1,309.6,1479,47.6,5,0,0,0,0,0
4,0,0,1,303.4,312.3,1515,41.3,114,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,0,1,0,302.3,311.4,1484,40.4,15,0,0,0,0,0
90950,0,1,0,297.9,309.8,1542,33.8,31,0,0,0,0,0
90951,0,1,0,295.6,306.2,1501,41.4,187,0,0,0,0,0
90952,0,1,0,298.1,307.8,1534,40.3,69,0,0,0,0,0
90953,0,1,0,303.5,312.8,1534,36.1,92,0,0,0,0,0

In [137]:
test['Air temperature [K]'] = scaler.fit_transform(test[['Air temperature [K]']])
test['Process temperature [K]'] = scaler.fit_transform(test[['Process temperature [K]']])
test['Rotational speed [rpm]'] = scaler.fit_transform(test[['Rotational speed [rpm]']])
test['Torque [Nm]'] = scaler.fit_transform(test[['Torque [Nm]']])
test['Tool wear [min]'] = scaler.fit_transform(test[['Tool wear [min]']])
test

,H,L,M,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF
0,0,1,0,0.769231,0.716049,0.192666,0.469780,0.237154,0,0,0,0,0
1,0,1,0,0.703297,0.654321,0.317229,0.343407,0.067194,0,0,0,0,0
2,0,1,0,0.659341,0.580247,0.207800,0.465659,0.379447,0,0,0,0,0
3,0,0,1,0.527473,0.481481,0.181024,0.601648,0.019763,0,0,0,0,0
4,0,0,1,0.890110,0.814815,0.201979,0.515110,0.450593,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,0,1,0,0.769231,0.703704,0.183935,0.502747,0.059289,0,0,0,0,0
90950,0,1,0,0.285714,0.506173,0.217695,0.412088,0.122530,0,0,0,0,0
90951,0,1,0,0.032967,0.061728,0.193830,0.516484,0.739130,0,0,0,0,0
90952,0,1,0,0.307692,0.259259,0.213038,0.501374,0.272727,0,0,0,0,0
90953,0,1,0,0.901099,0.876543,0.213038,0.443681,0.363636,0,0,0,0,0

In [144]:
pred = pd.DataFrame(dec.predict(test))
pred

       0
0      0
1      0
2      0
3      0
4      0
...   ..
90949  0
90950  0
90951  0
90952  0
90953  0

[90954 rows x 1 columns]

In [150]:
sample = pd.concat([ids  , pred] , axis = 1)
sample

           id  0
0      136429  0
1      136430  0
2      136431  0
3      136432  0
4      136433  0
...       ... ..
90949  227378  0
90950  227379  0
90951  227380  0
90952  227381  0
90953  227382  0

[90954 rows x 2 columns]

In [151]:
sample.to_csv('finalvalues.csv' , index = False)
files.download('finalvalues.csv')